<ion-view view-title="Beranda">
  <ion-content class="padding">
    <h2 class="text-center">Cangkruan KLAS</h2>
    <img class="image-center image-responsive" src="img/cangkruan.png">
    <br>
    <p class="text-center">Kelompok Linux Arek Suroboyo atau biasa disebut KLAS adalah sebuah perkumpulan pengguna linux dari berbagai macam distro yang bermukim di kawasan kota Surabaya.</p>
    <p class="text-center">Cangkruan adalah salah satu kegiatan luring KLAS -dari kita, untuk kita dan oleh kita. Dengan ditemani kopi atau teh dengan makanan kecil, kita bicarakan Linux atau F/LOSS dengan santai namun tertib.</p>
  </ion-content>
</ion-view>
