<ion-view view-title="Jadwal">
  <ion-content>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>Januari 2016</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/januari.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>November 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/november.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>Oktober 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/oktober.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>Oktober 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/oktober.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>Agustus 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/agustus.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>April 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/april.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>Maret 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/maret.jpg">
	  </div>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
		<img src="img/KLAS.png">
		<h2>Februari 2015</h2>
	  </div>
	  <div class="item item-image">
		<img class="image-responsive" src="img/februari.jpg">
	  </div>
	</div>
  </ion-content>
</ion-view>
